[Bb]in
[Oo]bj
[Rr]elease
[Dd]ebug
[Pp]ackages
*.bak
*.manifest
*.exe
*.pdb
*.cache
*.suo
*.orig
*.user
LastBuild.log
.svn
_ReSharper*
.DS_Store
[Dd]esigns
*.dll
desktop.ini
# Include dlls external libraries and NuGet packages directory
!/Antlr/Antlr3.Runtime.dll
!/.nuget/NuGet.exe