[Bb]in
[Oo]bj
[Rr]elease
[Dd]ebug
[Pp]ackages
*.bak
*.manifest
*.exe
*.pdb
*.cache
*.suo
*.orig
*.user
LastBuild.log
.svn
_ReSharper*
.DS_Store
[Dd]esigns
*.dll
/Coco/*.cs
/Coco/*.old
desktop.ini
# Include dlls external libraries and NuGet packages directory
!/Coco/Coco.exe
!/.nuget/NuGet.exe
!/libraries/*.dll
!/PageLabs.Web/CutyCapt.exe
!/PageLabs.Web/pngout.exe
!/PageLabs.TaskWorker/CutyCapt.exe