@charset utf-8;

@import "style.css";
@import url("style.css");
@import url("style.css") print;
@import url("style.css") projection, tv;
@import url('style.css') handheld and (max-width: 400px);
@import url(style.css) screen "Plain style";
@import url(style.css) "Four-columns and dark";
@import "style.css" "Style Sheet";

@namespace someexample "http://css.example.org";
@namespace "http://example.com/test";

@font-face
{
    font-family: testFont;
    src: url('SomeFont.ttf'),
         url('SomeFont_Italic.tff'); 
}

@keyframes test-keyframes
{
    from {top:0px;}
    to {top:200px;}
}

@media print {
  body { font-size: 12pt; }
  h1 { font-size: 24pt; }
}

@page {
  size: auto;
  margin: 10%;
}

@supports (display:flexbox) {
    div {
         display: display; 
    }
}

/* Don't uncomment the next 2 connents.  They're part of the test suite*/

*{} /* 1 */
/**{}*/
E{}  /* The following 41 Selectors Level 3 originate from http://www.w3.org/TR/selectors/ */
E[foo]{}
E[foo="bar"]{}
E[foo~="bar"]{}
E[foo^="bar"]{}
E[foo$="bar"]{}
E[foo*="bar"]{}
E[foo|="en"]{}
E[foo="bar"][rel="important"]{} /* 10 */
E:root{} 
E:nth-child(n){}
E:nth-child(odd){}
E:nth-child(even){}
E:nth-last-child(2n+1){} /* 15 */
E:nth-of-type(4n-1){}
E:nth-last-of-type(-n+2){}
E:nth-child(n+2):nth-child(odd):nth-child(-n+9){}
E:first-child{}
E:last-child{}/* 20 */
E:first-of-type{} 
E:last-of-type{}
E:only-child{}
E:only-of-type{}
E:empty{} /* 25 */
E:link{}
E:visited{}
E:active{}
E:hover{}
E:focus{}/* 30 */
E:target{} 
E:lang(fr){}
E:enabled{}
E:disabled{}
E:checked{} /* 35 */
E::first-line{}
E::first-letter{}
E::before{}
E::after{}
E.warning{} /* 40 */
E#myid{}	
E:not(s){}
E F{}
E > F{}
E + F{} /* 45 */
E ~ F{} 	
/* End of Selectors Level 3 http://www.w3.org/TR/selectors/ */

E:focus:hover{}
E.warning:target{}

E * p{}
E p *[href]{}
body > p{}
E F>G H {}
E.warning + h2{}
 
E F+G {} 
E + *[REL=up] {} 
E F G.warning {} 
E.warning.level {} 

E[hello="Denver"][goodbye="Boulder"]{}

E|F {}
E|* {}
|F {}
*|F {}

*[hreflang|=en]{}
/*[hreflang|=en]{}*/
*.warning{}
*:warning {}
*:warning::before {}
*:not(foo){}

.warning{}
.warning.hidden{}
*#myid{}
#myid{}

:lang(fr-be) > q{}

body > h2:nth-of-type(n+2):nth-last-of-type(n+2){}
/*body > h2:not(:first-of-type):not(:last-of-type){}*/


/*[foo|att=val] { color: blue }
[*|att] { color: yellow }
[|att] { color: green }
[att] { color: green }

button:not([DISABLED]){}

html|*:not(:link):not(:visited){}
*|*:not(*){}
*|*:not(:hover){}

#x34y {} 
#s12:not(FOO) {}*/
