p
{
    font-size: 1.1px;
    color: #555555;
}

fieldset
{
    margin:0;
    padding:0;
    vertical-align:baseline;
    border-top:1px solid #d6d6d6;
    display:block;
    padding-top:20px;
    position:relative;
}

fieldset p
{
    color:#666666;
    font-size: 11px;
    margin:0 0 20px;
}


form ul
{
    margin: 0;
}

.formfieldText
{
   -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:transparent none repeat scroll 0 0;
    color:#3C3A36;
    margin:0 0 5px;
    overflow:hidden;
    padding:0 0 0 40px;
}


.formfieldText input, .formfieldText textarea
{
   display:inline;
    float:left;
    font-size:13px;
    line-height:13px;
    padding:3px;
}

.formfieldText select
{
    margin-top: 4px;
}

.formfieldText label
{
    display:inline;
    float:left;
    margin-right:20px;
    text-align:right;
    width:120px;
    font-size:13px;
    font-weight:bold;
    line-height:28px;
}


#content
{
    overflow: hidden;
}

#header
{
    margin-top: 15px;
}

#nav
{
    height: 35px;
    padding-left: 15px;
    background-image: url(/images/rounded.gif);
    background-repeat: no-repeat;
    background-position: 920px 0px;
    height: 36px;
    background-color: #121d22;
    border-bottom: solid 1px #2b414b;
}

#nav ul
{
    width: 100%;
    margin: auto;
    list-style-type: none;
    list-style-image: none;
    list-style: none;
    margin: 0;
    margin-top: 8px;
    float: left;
}

#nav li
{
    line-height: 18px;
    margin: 0;
    padding: 0;
    display: inline;
    color: #fff;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
}

#nav li.first
{
    padding-left: 0px;
}

#nav li a, #nav li a:active, #nav li a:visited, #nav li a:link
{
    color: #fff;
    text-decoration: none;
    font-size: 11px;
}

#nav li a:hover
{
    border-bottom: solid 2px yellow;
}

#bodyContent
{
    background-color: #fff;
  
}

#homeLeftContent
{
    padding: 10px 0 10px 0;
}


#news, #blogs
{
    background-color: #e0e5e9;
    border: solid 1px #b2bec6;
    padding-top: 35px;
    background-image: url(/images/news.gif);
    background-repeat: no-repeat;
    background-position: 16px 5px;
}

#blogs
{
    margin-top: 10px;
    background-image: url(/media/2873/blog.png);
}

#partnerImage
{
    padding-left: 15px;
    margin-top: 25px;
}

#overviewContainer
{
    min-height: 300px;
    margin-bottom: 20px;
    margin-top: 10px;
}

#overview
{
    margin: 10px 10px 10px 0px;
    padding: 20px;
    border: solid 1px #ccc;
}

#search
{
    padding:10px 30px 10px 10px;
    background-color: #e0e5e9;
    border: solid 1px #b2bec6;
    margin-top: 10px;
    position: relative;
    width: 258px;
}

#searchContainer
{
    margin-top: 10px;
}

#footer
{
    background-color: #495156;
    min-height: 300px;
}

#footer div
{ 
    color: #fff;
}

#footerFirst
{
    margin-left: 30px;
}

.footerContent
{
    margin-top: 15px;
    padding: 15px;
}


#footer div a, #footer div a:link, #footer  div a:visited, #footer  div a:active
{
    color: #e08d19;
    text-decoration: none;
}

#footer div a:hover
{
    text-decoration: underline;
}

#copyright
{
    text-align: center;
    font-size: 12px;
    padding-top: 45px;
    padding-bottom: 25px;
}

#moreNews, #morePosts
{
    padding: 0px 0px 10px 45px;
}

#moreNews a, #moreNews a:active, #moreNews a:visited, #moreNews a:link
{
    color: #333333;
    text-decoration: none;
}

#moreNews a:hover
{
    color: red;
    text-decoration: underline;
}

#morePosts a, #morePosts a:active, #morePosts a:visited, #morePosts a:link
{
    color: #333333;
    text-decoration: none;
}

#morePosts a:hover
{
    color: red;
    text-decoration: underline;
}


#newsAccordion
{
    padding: 15px 15px 0px 15px;
}

.newsTitle
{
    color: green;
    font-size: 18px;
}

.newsDate
{
    color: #444; 
    font-size: 11px;
    padding-top: 5px;
    margin-bottom: 10px;
}

.searchButtonBox 
{
    border-color:#b2bec6;
    border-style:none none none solid;
    border-width:0 0 0 4px;
    color:#5F6E7C;
    margin-left:3px;
    padding:3px 30px 0px 4px;
    width: 235px;
}

.searchButtonBox 
{
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    background:#FFFFFF none repeat scroll 0 0;
    border:1px solid #b2bec6;
    color:#5F6E7C;
    height:19px;
    width: 235px;
}

.searchButtonBox.focus
{
    color: #000;
}

.searchButton {
    position:absolute;
    right: 20px;
    top: 14px;
}

.accordionTitle
{
    /*background:transparent url(/images/accordion.png) no-repeat scroll -466px 0px;*/
    height: 50px; /*49px;*/
    width: 230px;/* 232px;*/
    /*cursor: pointer;*/
    background-color:#E0E5E9;
    border:1px solid #B2BEC6;
}

.accordionTitle:hover
{
     /*background:transparent url(/images/accordion.png) no-repeat scroll -466px -50px;*/
    border:1px solid #B2BEC6;
    background-color:#E5EaE9;
}

#popularNews
{
    padding: 7px 0px 0px 50px;
    background:transparent url(/images/newsStar.png) no-repeat scroll 5px 5px;
}

#recentNews
{
    padding: 7px 0px 0px 50px;
    background:transparent url(/images/newsCalendar.png) no-repeat scroll 5px 5px;
}

#connectNews
{
    padding: 7px 0px 0px 50px;
    background:transparent url(/images/newsmail.png) no-repeat scroll 5px 5px;
}



.contactDetails
{
    padding: 15px;
    border-left: solid 1px #d6d6d6;
    border-right: solid 1px #d6d6d6;
    border-bottom: solid 1px #d6d6d6;
    margin-bottom: 20px;
    width: 200px;
}

.accordionCaptionSpan
{
    font-weight: normal;
    font-size: 10px;
    color: #aaa;
}

.accordionTitleSpan
{
    font-weight: bold;
    font-size: 16px;
    color: #525252;
}

.accordionContainer
{
    width: 209px;
    margin-left: 10px;
}

.accordionItem
{
    cursor: pointer;
    padding: 3px;
    border-bottom: 1px solid #eee;
}


.accordionItem:hover a
{
    color: red;
}

.accordionItem a
{
    padding: 2px 0px 2px 0px;
    text-decoration: none;
    color: #2c3a47;
}

.accordionItem a.first
{
    padding: 6px 0px 2px 25px;
}

.accordionItem a.last
{
    padding: 2px 0px 6px 25px;
}


ul.clients
{
    margin-top:15px
}

ul.clients li
{
    background:transparent none repeat scroll 0 0;
    display:inline;
    float:left;
    padding:0;
}

ul.clients li a 
{
    cursor:pointer;
    display:block;
    height:75px;
    margin: 0px 20px 20px 20px;
    text-indent:-9999px;
    width:150px;
}

.symetra, .symetra a
{
    background:transparent url(/images/clients.png) no-repeat scroll 0 -76px;
}

.prologis, .prologis a
{
    background:transparent url(/images/clients.png) no-repeat scroll -150px -76px;
}

.visa, .visa a
{
    background:transparent url(/images/clients.png) no-repeat scroll -300px -76px;
}

.usoc, .usoc a
{
    background:transparent url(/images/clients.png) no-repeat scroll -450px -76px;
}

.acs, .acs a
{
    background:transparent url(/images/clients.png) no-repeat scroll -600px -76px;
}


.ncti, .ncti a
{
    background:transparent url(/images/clients.png) no-repeat scroll -750px -76px;
}


.hbw, .hbw a
{
    background:transparent url(/images/clients.png) no-repeat scroll -900px -76px;
}


.ws, .ws a
{
    background:transparent url(/images/clients.png) no-repeat scroll -1050px -76px;
}


.bi, .bi a
{
    background:transparent url(/images/clients.png) no-repeat scroll -1200px -76px;
}


.ground, .ground a
{
    background:transparent url(/images/clients.png) no-repeat scroll -1350px -76px;
}


.wi, .wi a
{
    background:transparent url(/images/clients.png) no-repeat scroll -1500px -76px;
}


.bci, .bci a
{
    background:transparent url(/images/clients.png) no-repeat scroll -1650px -76px;
}


.lq, .lq a
{
    background:transparent url(/images/clients.png) no-repeat scroll -1800px -76px;
}

.overview a
{
    display:block;
    height:75px;
    margin:15px 10px;
    text-indent:-9999px;
    width:150px;
}

.overview h3
{
    font-weight: bold;
    font-size: 16px;
    color: #35c804;
    padding: 0px 0px 5px 0px;
}


.webIcon
{
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    height:75px;
    width:65px;
    display:block;
    float:left;
    margin: 0 10px 35px 0;
    text-indent:-9999px;
}
.webIcon.safety
{
    background:transparent url(/images/icons.png) no-repeat scroll 0px 0px;
}

.webIcon.sps
{
    background:transparent url(/images/icons.png) no-repeat scroll -72px 0px;
}

.webIcon.staff
{
    background:transparent url(/images/icons.png) no-repeat scroll -140px 0px;
}

.webIcon.host
{
    background:transparent url(/images/icons.png) no-repeat scroll -210px 0px;
}

.webIcon.dev
{
    background:transparent url(/images/icons.png) no-repeat scroll -277px 0px;
}

.webIcon.ex
{
    background:transparent url(/images/icons.png) no-repeat scroll -348px 0px;
}

.webIcon.security
{
    background:transparent url(/images/icons.png) no-repeat scroll -410px 0px;
}

.webIcon.sourcing
{
    background:transparent url(/images/icons.png) no-repeat scroll -472px 0px;
}

.webIcon.software
{
    background:transparent url(/images/icons.png) no-repeat scroll -545px 0px;
}

.webIcon.incubate
{
    background:transparent url(/images/icons.png) no-repeat scroll -610px 0px;
}

.webIcon.mobile
{
    background:transparent url(/images/icons.png) no-repeat scroll -670px 0px;
}

.webIcon.sharepoint
{
    background:transparent url(/images/icons.png) no-repeat scroll -730px 0px;
}

.newsBody, .newsBody p
{
    font-size: 1.0em;
}

.portfolioThumbnail
{
    border: solid 1px #ccc;
    padding: 20px 0 0 20px;
    width: 320px;
    height: 245px;
    margin: 20px 0 0 0;
}

.portfolioThumbnail:hover
{
    background-color: #eee;
}

.portfolioThumbnail a img
{
        border: solid 1px #ccc;
}

.entry-title a
{
    text-decoration: underline;
    color: #0066cc;
}

.entry-title a:hover
{
    text-decoration: underline;
    color: red;
}










#sidebarContactUs
{
margin-top: 20px;
    color: #888;
    background-color:#E0E5E9;
    
}
#sidebarContactUs #contour
{
border:1px solid #B2BEC6;
padding: 10px;
}

#sidebarContactUs div
{
    
}

#sidebarContactUs fieldset
{
	border: 0px;
}

#sidebarContactUs legend
{
	display:block;
	font-size:1.2em;
	font-weight:bold;
	line-height:1.2em;
	margin-bottom: 15px;
}

#sidebarContactUs input.text, #sidebarContactUs textarea {
	padding:3px;
	width:250px !important;
	border:1px solid #BBBBBB;
	margin:0.5em 0;
 	font-size: 1em;
	color: #888888;
}

#sidebarContactUs input.contourError, #contour textarea.contourError {
	background:none repeat scroll 0 0 #FBE3E4;
	border-color:#FBC2C4;
}

#sidebarContactUs h4
{
	font-size: 1.2em;
}


#contactForm #contour
{
	color: #888;
}

#contactForm #contour h4.contourPageName
{
	color: #2FAF03;
	font-size: 1.6em !important;
}

#contactForm #contour .contourNavigation
{
padding-left: 215px;
}

#contactForm #contour fieldset span
{
margin-left: 210px;
}






h2.entry-title,h2.entry-title a
{
	color: #2FAF03 !important;
	font-size: 22px !important;
}


h3.nobile a
{
	color: #096BB3;
	text-decoration: none;
}
h3.nobile a:hover
{
	text-decoration: underline;
}



/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
